<!DOCTYPE html>
<html>
<head>
  <title>Kblog</title>
  <%= stylesheet_link_tag    "kblog/application", :media => "all" %>
  <%= javascript_include_tag "kblog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
